<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="{{ "/scripts/js.js" | relative_url }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ecf7262b92.js" crossorigin="anonymous"></script>
    <link href="{{ "/styles/style.css" | relative_url }}" rel="stylesheet" />
    <link href="{{ "/styles/md.css" | relative_url }}" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ "/img/favicon.ico" | relative_url }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>// INTERNAL FACILITY DATABASE</title>
  </head>
  <body>
    <header class="top-title">
      <div class="top-container">
        <img
          class="top-logo"
          src="{{ "/img/favicon.ico" | relative_url }}"
          alt="Site Icon">
        <h1>// INTERNAL FACILITY DATABASE</h1>
        <span class="top-version">5.3.7</span>
        <a href="/wiki" class="top-button">Return Home</a>
      </div>
    </header>
    <nav class="toc">
      <ul class="toc-li">
        <li class="toc-li-firstitem">
          <a href="/wiki/home">Index</a>
        </li>
        <li class="toc-li-firstitem">
          <a href="/wiki/universalsystems">Universal Systems</a>
        </li>
        <li>
          <li class="toc-li-first">
          // Persons of Interest
          </li>
          <ul>
            <li>
              <li class="toc-li-second"> 
                // FACILITY PERSONNEL
              </li> 
                <ul>
                  <li class="toc-li-second-item"><a href="/wiki/articles/characters/personnel/difer">Difer</a></li>
                </ul>
            </li>
              <li class="toc-li-second">
                // OUTSIDERS TO OBSERVE
              </li>
                <ul>
                  <li class="toc-li-second-item"><a href="/wiki/articles/characters/side/marlo">Dr. Anne Marlo</a></li>
                  <li class="toc-li-second-item"><a href="/wiki/articles/characters/side/laura-pierce">Laura Pierce</a></li>
                  <li class="toc-li-second-item"><a href="/wiki/articles/characters/side/olivia-fischer">Olivia Fischer</a></li>
                  <li class="toc-li-second-item"><a href="/wiki/articles/characters/side/silas-groves">Silas Groves</a></li>
                </ul>
                <li class="toc-li-second">
                  // PANTHEONIC BEINGS
                </li>
                  <ul>
                    <li class="toc-li-second-item"><a href="/wiki/articles/characters/pantheon/seraph">Seraph</a></li>
                    <li class="toc-li-second-item"><a href="/wiki/articles/characters/pantheon/sinh">Sinh</a></li>
                  </ul>
                
          </ul>
          <li class="toc-li-first">
            // Groups of Interest
            </li>
            <ul>
              <li>
                  <ul>
                    <li class="toc-li-second-item"><a href="/wiki/articles/factions/carpo">CARPO</a></li>
                    <li class="toc-li-second-item"><a href="/wiki/articles/factions/harki">HARKI</a></li>
                    <li class="toc-li-second-item"><a href="/wiki/articles/factions/maroa">MAROA</a></li>
                    <li class="toc-li-second-item"><a href="/wiki/articles/factions/pantheon">PANTHEON</a></li>
                  </ul>
              </li>
        </li>
        <li class="toc-li-firstitem">
          <a href="/wiki/about">About</a>
        </li>
      </ul>
    </nav>
    <div class="article-container">
      <div class="article-content">
        {{ content }}
      </div>
    </div>
    <footer>
      <p>Created by
        <a href="https://twitter.com/SuneaterSeraph">SuneaterSeraph</a>
        and
        <a href="https://twitter.com/Difer_Artz">Difer_Artz</a>
      </p>
    </footer>
  </body>
</html>